*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myimg{
    
    border-radius: 10%;
    width: 150px;
}
.background{
background-color: rgb(127, 146, 228);
}
.border{
    border-radius: 30px;
    padding: 10px;
    color: white;
}
#cvTemplate{
    display: none;
}